<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class='titleWrap'>
        <h1 id='title'>Next Plant</h1>
    </div>

    <div class='container'>
    {% block body%}{% endblock %}

    <div class='uploadPhoto'>
        <p class="uploadDescr">{% block upload %}{% endblock %}</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class='form-row align-items-center justify-content-center'>
                <!-- <div class='col-auto'>
                    <input type="file" name="imgUpload" id="imgUpload" accept="image/*">
                </div> -->
                <div class="col-auto custom-file">
                    <input type="file" class="custom-file-input" name="imgUpload" id="imgUpload" accept="image/*" required>
                    <label class="custom-file-label" for="imgUpload">Choose file</label>
                </div>
                <div class='col-auto'>
                    <button type="submit" class='btn btn-success'>Upload</button>
                </div>
            </div>
        </form>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
</body>

</html>