{% extends 'base.html' %}

{% block title %}
    Next Plant Info
{% endblock %}

{% block body %}
<div class='imgWrap'>
    <img src="{{ url_for('static', filename=filePath) }}" alt="Your image">
</div>

<div class='flowerInfo'>
    <h3>
        {{ commonName }}
    </h3>
    <p class='sciName'>
        ( {{ name }} )
    </p>
    <div>
        <p class='funfactWrap'>
            <span class='funfact'>Fun Fact</span>: {{ fact }}
        </p>
    </div>
    <p class='wikipediaURL'>
        <a href="{{ url }}">Learn more!</a>
    </p>
</div>
{% endblock %}

{% block upload %}
    Identify Another Plant
{% endblock %}