{% extends 'base.html' %}

{% block title %}
    Next Plant Info
{% endblock %}

{% block body %}
<div class='imgWrap'>
    <img src="{{ url_for('static', filename=filePath) }}" alt="Your image">
</div>

<div class='flowerInfo'>
    <h3>
        {{ commonName }}
    </h3>
    <p class='sciName'>
        ( {{ name }} )
    </p>
    <div>
        {% for sentence in fact %}
        <p class='funfactWrap'>
            <span class='funfact'>Fun Fact:</span> {{ sentence[0] }}
        </p>
        {% endfor %}
    </div>
    <p class='wikipediaURL'>
        <a href="{{ url }}">Learn more!</a>
    </p>
    <p>
        <a href="{{ amazon }}">Shop Now</a>
    </p>
</div>
{% endblock %}

{% block upload %}
    Identify Another Plant
{% endblock %}